.secondary-btn {
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  background: $color-btn2;
  color: $color-black-title;
  padding: 13px 20px;
  border-radius: 6px;
  transition: all 0.3s;
  &:hover {
    background: $color-white;
    color: $color-black-title;
  }
}
