<div class="burger">
  <button class="burger__btn">
    <svg class="icon">
      <use href="./img/icons/icons.svg#burger"></use>
    </svg>
  </button>
  <nav class="burger__nav">
    <button class="burger__icon-wrapper">
      <svg class="icon">
        <use href="./img/icons/icons.svg#close"></use>
      </svg>
    </button>
    <ul class="burger__nav-list">
      <li class="burger__nav-item">
        <a class="burger__nav-link" href="">Услуги</a>
      </li>
      <li class="burger__nav-item">
        <a class="burger__nav-link" href="">О компании</a>
      </li>
      <li class="burger__nav-item">
        <a class="burger__nav-link" href="">Наши юристы</a>
      </li>
      <li class="burger__nav-item">
        <a class="burger__nav-link" href="">Отзывы</a>
      </li>
      <li class="burger__nav-item">
        <a class="burger__nav-link" href="">Новости</a>
      </li>
      <li class="burger__nav-item">
        <a class="burger__nav-link" href="">Контакты</a>
      </li>
    </ul>
  </nav>
</div>
