<section class="feedback">
  <div class="container">
    <div class="feedback__top">
      <h2 class="feedback__title secondory-title">Что о нас говорят клиенты</h2>
      <div class="feedback__slider-btns">
        <svg class="icon">
          <use href="./img/icons/icons.svg#line"></use>
        </svg>
      </div>
    </div>
    <div class="cards">
      <div class="cards__item">
        <div class="cards__header">
          <img src="./img/avatar.webp" alt="avatar" class="cards__img" />
          <div class="cards__data">
            <p class="cards__company">ООО “ИТ Консалтинг”</p>
            <h4 class="cards__name">Логинова Анастасия</h4>
          </div>
        </div>
        <p class="cards__message">
          Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский
          набор слов, но это не совсем так. Его корни уходят в один фрагмент
          классической латыни 45 года н.э., то есть более двух тысячелетий
          назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney,
          штат Вирджиния, взял одно из самых странных слов ...
        </p>
      </div>
      <div class="cards__item">
        <div class="cards__header">
          <img src="./img/avatar.webp" alt="avatar" class="cards__img" />
          <div class="cards__data">
            <p class="cards__company">ООО “ИТ Консалтинг”</p>
            <h4 class="cards__name">Логинова Анастасия</h4>
          </div>
        </div>
        <p class="cards__message">
          Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский
          набор слов, но это не совсем так. Его корни уходят в один фрагмент
          классической латыни 45 года н.э., то есть более двух тысячелетий
          назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney,
          штат Вирджиния, взял одно из самых странных слов ...
        </p>
      </div>
      <div class="cards__item">
        <div class="cards__header">
          <img src="./img/avatar.webp" alt="avatar" class="cards__img" />
          <div class="cards__data">
            <p class="cards__company">ООО “ИТ Консалтинг”</p>
            <h4 class="cards__name">Логинова Анастасия</h4>
          </div>
        </div>
        <p class="cards__message">
          Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский
          набор слов, но это не совсем так. Его корни уходят в один фрагмент
          классической латыни 45 года н.э., то есть более двух тысячелетий
          назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney,
          штат Вирджиния, взял одно из самых странных слов ...
        </p>
      </div>
    </div>
    <div class="feedback__actions">
      <button class="feedback__btn-history btn">Все отзывы</button>
      <button class="feedback__btn-certificates secondary-btn">
        Написать отзыв
      </button>
    </div>
  </div>
</section>
