<footer class="footer">
  <div class="container">
    <div class="footer__header">
      <a href="#" class="logo">
        <span class="logo__title">Правозащитник</span>юридическая компания
      </a>
      <p class="footer__disc">
        Предварительные выводы неутешительны: синтетическое тестирование, а
        также свежий взгляд на привычные вещи — безусловно открывает новые
        горизонты для экономической целесообразности принимаемых решений.
      </p>
    </div>
    <div class="footer__body">
      <ul class="contacts">
        <li class="contacts__item">
          <div class="contacts__icon-wrapper icon__wrapper">
            <svg class="contacts__icon icon">
              <use href="./img/icons/icons.svg#mark"></use>
            </svg>
          </div>
          <div class="contacts__content">
            <p class="contacts__title">Наш адрес</p>
            <p class="contacts__disc">г. Одинцово, пр. Будапештсткая, 40</p>
          </div>
        </li>
        <li class="contacts__item">
          <div class="contacts__icon-wrapper icon__wrapper">
            <svg class="contacts__icon icon">
              <use href="./img/icons/icons.svg#phone"></use>
            </svg>
          </div>
          <div class="contacts__content">
            <p class="contacts__title">Запись на консультанцию</p>
            <p class="contacts__disc">+7 (922) 022-94-82</p>
          </div>
        </li>
        <li class="contacts__item">
          <div class="contacts__icon-wrapper icon__wrapper">
            <svg class="contacts__icon icon">
              <use href="./img/icons/icons.svg#email"></use>
            </svg>
          </div>
          <div class="contacts__content">
            <p class="contacts__title">Корреспонденция</p>
            <p class="contacts__disc">janis62@yahoo.com</p>
          </div>
        </li>
      </ul>
      <nav class="nav">
        <ul class="nav__menu">
          <li class="nav__item"><a href="#">Услуги</a></li>
          <li class="nav__item"><a href="#">О компании</a></li>
          <li class="nav__item"><a href="#">Сертификаты</a></li>
          <li class="nav__item"><a href="#">Отзывы</a></li>
          <li class="nav__item"><a href="#">Полезные материалы</a></li>
          <li class="nav__item"><a href="#">Благотворительность</a></li>
        </ul>
      </nav>
      <div class="card">
        <div class="card__wrapper">
          <img src="./img/avatar.webp" alt="" class="card__avatar" />
          <div class="card__date">
            <h4 class="card__name">Миронов Александр</h4>
            <p class="card_prof">Ведущию юрист</p>
          </div>
        </div>
        <p class="card__disc">
          Есть над чем задуматься: тщательные исследования конкурентов
          разоблачены. Идейные соображения высшего порядка, а также
          перспективное планирование играет
        </p>
        <button class="card__btn btn">задать вопрос юристу</button>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container bottom">
      <p class="bottom__res">Все права защищены,2024</p>
      <p class="bottom__personal-data">
        Политика обработки персональных данных
      </p>
    </div>
  </div>
</footer>
