<section class="hero">
  <div class="container">
    <div class="hero__content">
      <p class="hero__subtitle">оказываем Весь комплекс</p>
      <h1 class="hero__title">Юридических услуг</h1>
      <p class="hero__disc subtitle">
        Давно выяснено, что при оценке дизайна и композиции читаемый текст
        мешает сосредоточиться. Lorem Ipsum используют потому, что тот
        обеспечивает более или менее стандартное заполнение.
      </p>
      <button class="btn hero__btn">наши услуги</button>
    </div>
  </div>
</section>
