<section class="materials">
  <h2 class="materials__title title">Полезные материалы</h2>
  <p class="materials__disc subtitle">
    Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает
    сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более
    или менее стандартное заполнение шаблона
  </p>
  <div class="cards">
    <div class="cards__item">
      <div class="cards__wrapper-img">
        <img class="cards__img" src="./img/materials1.webp" alt="photo" />
        <div id="top-left" class="corner"></div>
        <div id="top-right" class="corner"></div>
        <div id="bottom-right" class="corner"></div>
        <div id="bottom-left" class="corner"></div>
        <div class="icon__wrapper">
          <svg class="icon">
            <use href="./img/icons/icons.svg#eye"></use>
          </svg>
        </div>
      </div>
      <h4 class="cards__title">
        Воистину радостный звук: шёпот бессменных лидеров
      </h4>
      <p class="cards__date">24 апр. 2023 г.</p>
      <p class="cards__disc">
        Предварительные выводы неутешительны: синтетическое тестирование, а
        также свежий взгляд на привычные вещи — безусловно открывает новые
        горизонты для экономической целесообразности принимаемых решений.
      </p>
    </div>
    <div class="cards__item">
      <div class="cards__wrapper-img">
        <img class="cards__img" src="./img/materials2.webp" alt="" />
        <div id="top-left" class="corner"></div>
        <div id="top-right" class="corner"></div>
        <div id="bottom-right" class="corner"></div>
        <div id="bottom-left" class="corner"></div>
        <div class="icon__wrapper">
          <svg class="icon">
            <use href="./img/icons/icons.svg#eye"></use>
          </svg>
        </div>
      </div>

      <h4 class="cards__title">
        Франция намерена исследовать, почему объемы выросли
      </h4>
      <p class="cards__date">12 мар. 2023 г.</p>
      <p class="cards__disc">
        Для современного мира новая модель организационной деятельности влечет
        за собой процесс внедрения и модернизации вывода текущих активов.
        Являясь всего лишь частью общей картины, базовые сценарии поведения...
      </p>
    </div>
    <div class="cards__item">
      <div class="cards__wrapper-img">
        <img class="cards__img" src="./img/materials3.webp" alt="" />
        <div id="top-left" class="corner"></div>
        <div id="top-right" class="corner"></div>
        <div id="bottom-right" class="corner"></div>
        <div id="bottom-left" class="corner"></div>
        <div class="icon__wrapper">
          <svg class="icon">
            <use href="./img/icons/icons.svg#eye"></use>
          </svg>
        </div>
      </div>
      <h4 class="cards__title">
        Сплочённость команды профессионалов продолжает удивлять
      </h4>
      <p class="cards__date">24 апр. 2023 г.</p>
      <p class="cards__disc">
        Современные технологии достигли такого уровня, что курс на
        социально-ориентированный национальный проект способствует повышению
        качества соответствующих условий активизации.
      </p>
    </div>
  </div>
  <button class="materials__btn btn">Все новости</button>
</section>
