<section class="services">
  <h2 class="title services__title">наши услуги</h2>
  <p class="services__disc subtitle">
    Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает
    сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более
    или менее стандартное заполнение шаблона
  </p>
  <div class="cards">
    <div class="cards__wrapper">
      <div id="top-left" class="corner"></div>
      <div id="top-right" class="corner"></div>
      <div id="bottom-right" class="corner"></div>
      <div id="bottom-left" class="corner"></div>
      <div class="cards__item">
        <svg class="icon">
          <use href="./img/icons/icons.svg#checkmark"></use>
        </svg>
        <h3 class="cards__title">Банкротство физических лиц</h3>
        <p class="cards__disc">
          Процедуру банкротства физических лиц в России регулирует закон «О
          несостоятельности (банкротстве)».
        </p>
      </div>
    </div>
    <div class="cards__wrapper">
      <div id="top-left" class="corner"></div>
      <div id="top-right" class="corner"></div>
      <div id="bottom-right" class="corner"></div>
      <div id="bottom-left" class="corner"></div>
      <div class="cards__item">
        <svg class="icon">
          <use href="./img/icons/icons.svg#checkmark"></use>
        </svg>
        <h3 class="cards__title">Сопровождение сделок</h3>
        <p class="cards__disc">
          Инициирование, оформление, осуществление сделки и достижение
          результата — это именно то, чем мы занимаемся каждый день.
        </p>
      </div>
    </div>
    <div class="cards__wrapper">
      <div id="top-left" class="corner"></div>
      <div id="top-right" class="corner"></div>
      <div id="bottom-right" class="corner"></div>
      <div id="bottom-left" class="corner"></div>
      <div class="cards__item">
        <svg class="icon">
          <use href="./img/icons/icons.svg#checkmark"></use>
        </svg>
        <h3 class="cards__title">Корпоративные споры</h3>
        <p class="cards__disc">
          Корпоративные споры – споры, связанные с созданием юрлица, управлением
          или участием в нем
        </p>
      </div>
    </div>
    <div class="cards__wrapper">
      <div id="top-left" class="corner"></div>
      <div id="top-right" class="corner"></div>
      <div id="bottom-right" class="corner"></div>
      <div id="bottom-left" class="corner"></div>
      <div class="cards__item">
        <svg class="icon">
          <use href="./img/icons/icons.svg#checkmark"></use>
        </svg>
        <h3 class="cards__title">Недвижимость и строительство</h3>
        <p class="cards__disc">
          Консультируем по различным вопросам в области недвижимости, включая
          градостроительное регулирование, земельные отношения
        </p>
      </div>
    </div>
    <div class="cards__wrapper">
      <div id="top-left" class="corner"></div>
      <div id="top-right" class="corner"></div>
      <div id="bottom-right" class="corner"></div>
      <div id="bottom-left" class="corner"></div>
      <div class="cards__item">
        <svg class="icon">
          <use href="./img/icons/icons.svg#checkmark"></use>
        </svg>
        <h3 class="cards__title">Возврат страховых премий</h3>
        <p class="cards__disc">
          Для возврата страховой премии нужно подготовить следующий пакет
          документов: паспорт страхователя; оригинал страхового полиса
        </p>
      </div>
    </div>
    <div class="cards__wrapper">
      <div id="top-left" class="corner"></div>
      <div id="top-right" class="corner"></div>
      <div id="bottom-right" class="corner"></div>
      <div id="bottom-left" class="corner"></div>
      <div class="cards__item">
        <svg class="icon">
          <use href="./img/icons/icons.svg#checkmark"></use>
        </svg>
        <h3 class="cards__title">Налоговое право и споры</h3>
        <p class="cards__disc">
          Сопровождение налоговых проверок на любой стадии, анализ и подготовка
          документов, защита при налоговых спорах.
        </p>
      </div>
    </div>
  </div>
  <button class="services__btn btn">Все услуги</button>
</section>
