<section class="staff">
  <h2 class="staff__title title">Наши юристы</h2>
  <p class="staff__disc subtitle">
    Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает
    сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более
    или менее стандартное заполнение шаблона
  </p>
  <div class="cards">
    <div class="cards__item">
      <div class="cards__side cards__side-front">
        <img src="./img/photo3.webp" alt="photo1" class="cards__img" />
        <h4 class="cards__name">Горюнова Полина Алексеевна</h4>
        <p class="cards__profession">Юрист международного права</p>
      </div>

      <div class="cards__side cards__side-back">
        <div id="top-left" class="corner"></div>
        <div id="top-right" class="corner"></div>
        <div id="bottom-right" class="corner"></div>
        <div id="bottom-left" class="corner"></div>
        <h4 class="cards__name">Горюнова Полина Алексеевна</h4>
        <p class="cards__profession">Юрист международного права</p>
        <p class="cards__disc">
          Есть много вариантов Lorem Ipsum, но большинство из них имеет не
          всегда приемлемые модификации, например, юмористические вставки или
          слова, которые даже отдалённо не напоминают латынь.
        </p>
        <p class="cards__exp">12 лет юридической практики</p>
      </div>
    </div>
    <div class="cards__item">
      <div class="cards__side cards__side-front">
        <img src="./img/photo1.webp" alt="photo1" class="cards__img" />
        <h4 class="cards__name">Миронов Александр Германович</h4>
        <p class="cards__profession">Кредитный адвокат, банковский юрист</p>
      </div>
      <div class="cards__side cards__side-back">
        <div id="top-left" class="corner"></div>
        <div id="top-right" class="corner"></div>
        <div id="bottom-right" class="corner"></div>
        <div id="bottom-left" class="corner"></div>
        <h4 class="cards__name">Миронов Александр Германович</h4>
        <p class="cards__profession">Кредитный адвокат, банковский юрист</p>
        <p class="cards__disc">
          Есть много вариантов Lorem Ipsum, но большинство из них имеет не
          всегда приемлемые модификации, например, юмористические вставки или
          слова, которые даже отдалённо не напоминают латынь.
        </p>
        <p class="cards__exp">12 лет юридической практики</p>
      </div>
    </div>
    <div class="cards__item">
      <div class="cards__side cards__side-front">
        <img src="./img/photo3.webp" alt="photo1" class="cards__img" />
        <h4 class="cards__name">Шестокова Елизавета Егоровна</h4>
        <p class="cards__profession">Юридический консультант</p>
      </div>
      <div class="cards__side cards__side-back">
        <div id="top-left" class="corner"></div>
        <div id="top-right" class="corner"></div>
        <div id="bottom-right" class="corner"></div>
        <div id="bottom-left" class="corner"></div>
        <h4 class="cards__name">Шестокова Елизавета Егоровна</h4>
        <p class="cards__profession">Юридический консультант</p>
        <p class="cards__disc">
          Есть много вариантов Lorem Ipsum, но большинство из них имеет не
          всегда приемлемые модификации, например, юмористические вставки или
          слова, которые даже отдалённо не напоминают латынь.
        </p>
        <p class="cards__exp">12 лет юридической практики</p>
      </div>
    </div>
    <div class="cards__item">
      <div class="cards__side cards__side-front">
        <img src="./img/photo2.webp" alt="photo1" class="cards__img" />
        <h4 class="cards__name">Архипов Максим Константинович</h4>
        <p class="cards__profession">Корпоративный юрист</p>
      </div>
      <div class="cards__side cards__side-back">
        <div id="top-left" class="corner"></div>
        <div id="top-right" class="corner"></div>
        <div id="bottom-right" class="corner"></div>
        <div id="bottom-left" class="corner"></div>
        <h4 class="cards__name">Архипов Максим Константинович</h4>
        <p class="cards__profession">Корпоративный юрист</p>
        <p class="cards__disc">
          Есть много вариантов Lorem Ipsum, но большинство из них имеет не
          всегда приемлемые модификации, например, юмористические вставки или
          слова, которые даже отдалённо не напоминают латынь.
        </p>
        <p class="cards__exp">12 лет юридической практики</p>
      </div>
    </div>
  </div>
</section>
